.hidden {
    display: none;
}

/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

textarea{
    width: 90%;
}

input[type=text]{
    width: 100%
}

td{
    vertical-align: top;
    padding: 0px;
}

fieldset{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}

.edit-icon:hover,
.edit-icon:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.message-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.error-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    color: red;
}

.success-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    color: rgb(4, 126, 59);
}

.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.image-modal-content {
    background-color: #fefefe;
    margin: 0% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}

.question-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.question-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}

.training-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.training-modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
}

.close {
    float: right;
    /*color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;*/
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.remove_subject_field:hover,
.remove_subject_field:focus {
    color: red;
    cursor: pointer;
}

.remove_alt_field:hover,
.remove_alt_field:focus {
    color: red;
    cursor: pointer;
}

.questionValError,
.trainingValError {
    display: none; /* Hidden by default */ 
    color: red;
}

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.column {
    position: relative;
    float: left;
  }

.column-1 {
    width: 6.86666666667%;
  }
  
  .column-2 {
    width: 15.3333333333%;
  }
  
  .column-3 {
    width: 23.8%;
  }

  .column-46 {
      width: 100%;
      margin-left: 5.6%;
  }
  
  .column-4 {
    width: 32.2666666667%;
  }
  
  .column-5 {
    width: 40.7333333333%;
  }
  
  .column-6 {
    width: 49.2%;
  }
  
  .column-7 {
    width: 57.6666666667%;
  }
  
  .column-8 {
    width: 66.1333333333%;
  }
  
  .column-9 {
    width: 74.6%;
  }
  
  .column-10 {
    width: 83.0666666667%;
  }
  
  .column-11 {
    width: 91.5333333333%;
  }
  
  .column-12 {
    width: 100%;
  }
  
  .column + .column {
    margin-left: 1.6%;
  }